//Icon Font: filter

@font-face {
	font-family: 'filter';
	font-style: normal;
	font-weight: normal;

	src: url('./fonts/filter_de356ac816c37844619223686e4eb1f2.eot?#iefix') format('embedded-opentype'),
	     url('./fonts/filter_de356ac816c37844619223686e4eb1f2.woff') format('woff'),
	     url('./fonts/filter_de356ac816c37844619223686e4eb1f2.ttf') format('truetype'),
	     url('./fonts/filter_de356ac816c37844619223686e4eb1f2.svg#filter') format('svg');
}

@media screen {
	@font-face {
		font-family: 'filter';
		src: url('./fonts/filter_de356ac816c37844619223686e4eb1f2.svg#filter') format('svg');
	}
}

[data-icon]::before { content: attr(data-icon); }

[data-icon]::before,
.icon-hex::before,
.icon-square::before {
	display: inline-block;
	font-family: 'filter';
	font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration: inherit;
	text-rendering: optimizeLegibility;
	text-transform: none;
}

.icon-hex::before { content: '\f100'; }
.icon-square::before { content: '\f101'; }
